Repository jamarob/nukebox: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

Remove unused content
  pages/index.tsx
  styles/Home.module.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

Add css vars
  styles/globals.css
Due: stylelint --fix, prettier --write

💄 Add colors
  styles/globals.css
Due: stylelint --fix, prettier --write

✨ Add Greeting
  components/Greeting.tsx
  pages/index.tsx
  styles/Greeting.module.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

✨ Add TrackItem
  components/TrackItem.tsx
  pages/index.tsx
  styles/Home.module.css
  styles/TrackItem.module.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

🎉 Add API with fake database
  pages/api/tracks/[id].ts
  pages/api/tracks/index.ts
  server/db.json
Due: eslint --cache --fix, prettier --write

♻️ Render TrackItems form static array
  pages/index.tsx
Due: eslint --cache --fix, prettier --write

✨ Fetch tracks from API
  pages/index.tsx
  utils/api.ts
Due: eslint --cache --fix, prettier --write

💡 Add alternative solution for getTracks in useEffect
  pages/index.tsx
Due: eslint --cache --fix, prettier --write

✨ Add track page
  pages/index.tsx
  pages/tracks/[id].tsx
Due: eslint --cache --fix, prettier --write

✨ Prepare Track Component
  pages/tracks/[id].tsx
  utils/api.ts
Due: eslint --cache --fix, prettier --write

✨ Display track details
  components/TrackDetails.tsx
  pages/tracks/[id].tsx
  styles/TrackDetails.module.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

✨ Add audioSrc
  components/AudioPlayer.tsx
  pages/tracks/[id].tsx
  server/db.json
  utils/api.ts
Due: eslint --cache --fix, prettier --write

✨ Add audio with controls
  components/AudioPlayer.tsx
Due: eslint --cache --fix, prettier --write

✨ Add play/pause
  components/AudioPlayer.tsx
  public/pause.svg
  public/play.svg
  styles/AudioPlayer.module.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

💄 Style player
  components/AudioPlayer.tsx
  styles/AudioPlayer.module.css
  styles/globals.css
Due: eslint --cache --fix, stylelint --fix, prettier --write

✨ Add RESTful endpoints
  pages/api/tracks/[id].ts
  pages/api/tracks/index.ts
  server/db.json
  server/db.ts
  server/samples.http
Due: eslint --cache --fix, prettier --write

✨ Save favoriteSong into localStorage
  pages/tracks/[id].tsx
Due: eslint --cache --fix, prettier --write

🐛 Fix accidental deletion of favoriteSong
  pages/tracks/[id].tsx
Due: eslint --cache --fix, prettier --write

✨ Show number of page views
  components/ViewsCount.tsx
  pages/index.tsx
Due: eslint --cache --fix, prettier --write

♻️ Add solution with state
  components/ViewsCount.tsx
Due: eslint --cache --fix, prettier --write

💬 Add "times" text
  components/ViewsCount.tsx
Due: eslint --cache --fix, prettier --write

✨ Add useLocalStorage hook
  hooks/useLocalStorage.ts
Due: eslint --cache --fix, prettier --write

♻️ Use new useLocalStorage hook
  pages/tracks/[id].tsx
Due: eslint --cache --fix, prettier --write

✨ Store multiple favourites in localStorage
  pages/tracks/[id].tsx
Due: eslint --cache --fix, prettier --write

🐛 Fix Id and use generic type
  pages/tracks/[id].tsx
Due: eslint --cache --fix, prettier --write

🏷️ Add types to useLocalStorage
  hooks/useLocalStorage.ts
Due: eslint --cache --fix, prettier --write

🐛 Fix id is undefined
  pages/tracks/[id].tsx
Due: eslint --cache --fix, prettier --write

✨ Create fetchURL helper function
  utils/api.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.css
  prettier --write: any of: *.{js,jsx,ts,tsx,css,md,json}
